.mainTitle {
  font-size: 30px;
  margin-top:40px;
  padding-bottom:10px;
  font-weight:bold;;
  letter-spacing: 4px;
}
.iconContainer{
  border-radius: 10px;
  /* display:in; */
  height:60px;
  width:60px;
  padding:5px;
  margin-right:10px;
}
